<template>
  <div class="product-detail">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col lg-6">
            <img :src="product.images[0]" class="img-fluid" :alt="product.title" />
          </div>
          <div class="col lg-6">
            <h3>{{ product.title }}</h3>
            <div class="product-detail__price">{{ formattedPrice }}</div>
            <div class="product-detail__description">
              <p>Description:</p>
              {{ product.description }}
            </div>

            <button
              v-if="store.getters['auth/isAuthenticated']"
              @click="$emit('onBuy')"
              type="button"
              class="btn btn-primary"
            >
              Buy now
            </button>
            <RouterLink v-else :to="{ name: 'login' }" class="btn btn-primary"
              >Login to buy</RouterLink
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';
import { RouterLink } from 'vue-router';

const props = defineProps({
  product: {
    type: Object,
    required: true,
  },
});

const store = useStore();

const formattedPrice = computed(() => {
  const format = new Intl.NumberFormat('en-US').format(props.product.price);
  return `$${format}`;
});
</script>

<style lang="scss" scoped>
.product-detail {
  &__price {
    font-size: 20px;
    font-weight: bold;
  }

  &__description {
    margin: 20px 0 20px;
  }
}
</style>
