<template>
  <div class="card">
    <img :src="product.thumbnail" class="card-img-top card__img" :alt="product.title" />
    <div class="card-body">
      <h5>{{ product.title }}</h5>
      <p class="card__text">{{ formattedDescription }} ...</p>

      <RouterLink
        :to="{ name: 'product-detail', params: { id: product.id } }"
        class="btn btn-primary"
        data-test="anchor"
        >Show</RouterLink
      >
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';

const props = defineProps({
  product: {
    type: Object,
    required: true,
  },
});

const formattedDescription = computed(() => {
  return props.product.description.substring(0, 50);
});
</script>

<style lang="scss" scoped>
.card {
  &__text {
    min-height: 72px;
  }

  &__img {
    object-fit: cover;
    max-height: 130px;
  }
}
</style>
