<template>
  <div class="container-section">
    <h3>Latest products</h3>
    <div class="row">
      <div class="col-md-6 col-lg-3" v-for="product in products" :key="product.id">
        <ProductCard :product="product" />
      </div>
    </div>
  </div>
</template>

<script setup>
import ProductCard from '@/components/products/ProductCard.vue';

defineProps({
  products: {
    type: Object,
    required: true,
  },
});
</script>

<style lang="scss" scoped></style>
