<template>
  <div class="container-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>About</h3>
          <p>This is a commerce plattform.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style></style>
