<template>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12" v-if="products">
          <ProductList :products="products" />
        </div>
      </div>
    </div>
  </main>
</template>

<script setup>
import { onBeforeMount, ref } from 'vue';
import Product from '@/services/Product';
import ProductList from '@/components/products/ProductList.vue';

const products = ref(null);

onBeforeMount(async () => {
  const { data } = await Product.getLimited(4);
  products.value = data.products;
});
</script>
