<template>
  <div class="container-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <h1 class="text-center">Login</h1>
          <p>You can login with username "kminchelle" and password "0lelplR"</p>

          <form action="" @submit.prevent="onSubmit">
            <div class="row form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                v-model="form.fields.username"
                data-test="username"
              />
            </div>

            <div class="row form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                v-model="form.fields.password"
                data-test="password"
              />
            </div>

            <div class="row form-group">
              <div class="text-danger text-center mb-2" v-if="form.error" v-text="form.error"></div>
              <button type="submit" class="btn btn-primary" :disabled="form.loading">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

const store = useStore();
const router = useRouter();
const form = ref({
  fields: {
    username: null,
    password: null,
  },
  error: null,
  loading: false,
});

const onSubmit = async () => {
  try {
    const validation = Object.values(form.value.fields).filter((field) => {
      return !field;
    });

    if (validation.length) {
      form.value.error = 'All fields are required.';
    } else {
      await store.dispatch('auth/login', form.value.fields);

      router.push({ name: 'home' });
    }
  } catch (error) {
    const { response } = error;

    if (response.data.message) {
      form.value.error = response.data.message;
    }
  }
};
</script>

<style lang="scss" scoped></style>
