<template>
  <div>
    <div class="container">
      <div class="container-section">
        <ProductDetail v-if="product" :product="product" @on-buy="onBuy" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onBeforeMount } from 'vue';
import { useRoute } from 'vue-router';

import Product from '@/services/Product';
import ProductDetail from '@/components/products/ProductDetail.vue';

const route = useRoute();
const product = ref(null);

onBeforeMount(async () => {
  const { data } = await Product.find(route.params.id);
  product.value = data;
});

const onBuy = () => {
  alert('This feature will be available soon ;)');
};
</script>

<style lang="scss" scoped></style>
