<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <header>
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <RouterLink to="/" class="navbar-brand">{{ appName }}</RouterLink>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> -->
                  <li class="nav-item">
                    <RouterLink to="/" class="nav-link active">Home</RouterLink>
                  </li>
                  <li class="nav-item">
                    <RouterLink to="/about" class="nav-link active">About</RouterLink>
                  </li>
                </ul>
                <div class="d-flex">
                  <ul v-if="store.getters['auth/isAuthenticated']" class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Hi, {{ store.getters['auth/getUser'] }}
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <RouterLink :to="{ name: 'profile' }" class="dropdown-item"
                            >Profile</RouterLink
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#" @click.prevent="onLogout">Logout</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <RouterLink v-else :to="{ name: 'login' }" class="nav-link active"
                    >Login
                  </RouterLink>
                </div>
              </div>
            </div>
          </nav>
        </header>
      </div>
    </div>
  </div>
</template>

<script setup>
import { RouterLink, useRouter } from 'vue-router';
import { useStore } from 'vuex';

const router = useRouter();
const store = useStore();
const appName = import.meta.env.VITE_APP_NAME;

const onLogout = async () => {
  await store.dispatch('auth/logout');
  router.push({ name: 'home' });
};
</script>

<style lang="scss" scoped>
.dropdown-menu[data-bs-popper] {
  left: -30px;
}
</style>
