<script setup>
import { RouterView } from 'vue-router';
import TheHeader from '@/components/common/TheHeader.vue';
</script>

<template>
  <TheHeader></TheHeader>
  <RouterView />
</template>

<style scoped></style>
